<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Socket Chat</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/css/bootstrap.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
    <script src="../public/js/index.js">

    </script>
  </head>
  <body>
    <div id="background">
      <h1>Welcome!</h1>
      <div id="start" >
          START!
      </div>
    </div>
  </body>
</html>
