body{
  margin: 0;
}

#background{
  width: 100vw;
  height: 100vh;
  background-image: url("https://source.unsplash.com/category/objects");
  background-size: cover;
  text-align: center;
}

h1{
  background-color: rgba(213,213,213,0.5);
  font-size: 5rem;
  color: #fff;
  top : calc(85vh / 2);
  margin: auto;
  width: 30vw;
  position: relative;
  top: 40vh;
}

#start{
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  position: relative;
  top: 65vh;
  font-size: 1.5rem;
  padding: 0.5rem;
  width: 5rem;
  margin: auto;

}

#start:hover{
    cursor: pointer;
}
