body{
  margin: 0;
}

#background{
  width: 100vw;
  height: 100vh;
  background-image: url("https://source.unsplash.com/category/objects");
  background-size: cover;
  text-align: center;
}

h1{
  background-color: rgba(213,213,213,0.5);
  display: inline;
  font-size: 5rem;
  padding: 1rem;
  color: #fff;
  position: relative;
  top : calc(85vh / 2);
}

#start{
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  font-size: 1.5rem;
  padding: 0.5rem;
  display: inline;
  position: absolute;
  bottom: 5vh;
}
